/* =============
    Gallery Hero
============= */
@use "../../helpers";

#gallery-hero{
    background-image: url("../img/gallery/hero.jpg");
    background-size: cover;
    background-position: 70% 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    padding: 16px;

    h1{
        color: var(--white);
        margin-top: 4vh;
        font-size: helpers.rem-calc(38);

        @include helpers.md{
            font-size: helpers.rem-calc(50);
            text-align: center;
            padding: 0 10vw;
        }

        @include helpers.xl{
            margin-top: 10vh;
            font-size: helpers.rem-calc(80);
            text-align: center;
            padding: 0 10vw;
        }
    }

}