/* =============
    Gallery Gallery
============= */
@use "../../helpers";


#gallery-container{

    padding: 28px 16px;

    @include helpers.xxl{
        display: grid;
        grid-template-columns: auto 1440px auto;
        grid-template-areas: "... gallery ...";
    }
    
    ul{

        display: grid;
        grid-template-columns: 50% auto;
        grid-template-rows: repeat(3, 278px);
        grid-template-areas: 
        "g1 g1"
        "g2 g3"
        "g4 g5";
        gap: 16px;

        @include helpers.md{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 385px);
            grid-template-areas: 
            "g1 g1 g1"
            "g2 g3 g3"
            "g4 g4 g5";
        }

        @include helpers.xl{
            grid-template-areas: 
            "g1 g1 g2"
            "g1 g1 g3"
            "g5 g4 g4";
        }

        @include helpers.xxl{
            grid-area: gallery;
        }

        li{
            display: flex;
            background-size: cover;
            border-radius: 8px;

            a{
                height: 100%;
                width: 100%;
            }
        }

        #g1{
            grid-area: g1;
            background-image: url("../img/gallery/gallery-5.jpg");
            background-position: center;
        }

        #g2{
            grid-area: g2;
            background-image: url("../img/gallery/gallery-1.jpg");
            background-position: center;

        }

        #g3{
            grid-area: g3;
            background-image: url("../img/gallery/gallery-3.jpg");
            background-position: 60% center;
        }

        #g4{
            grid-area: g4;
             background-image: url("../img/gallery/gallery-4.jpg");
             background-position: center;
        }

        #g5{
            grid-area: g5;
            background-image: url("../img/gallery/gallery-2.jpg");
            background-position: 20% center;
        }
    }
}