/* =============
    Buttons
============= */
@use "../helpers";

button{
    transition: 0.25s;
    cursor: pointer;
    border: none;
}


.blue-btn{
    color: var(--black);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--blue);

    &:hover{
        background-color: var(--white);
        color: var(--blue);
    }
}

.burger-btns{
    border: none;
    background-color: transparent;
    color: var(--white);
    font-size: helpers.rem-calc(20);
}